h1 {
    font-size: 72px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

body {
    font-family: 'Monda', sans-serif;
    background: #0068B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.header {
    padding: 24px;
    border: 3px solid #FFF;
}

.content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;
}

.button {
    font-family: 'Monda', sans-serif;
    font-size: 48px;
    text-decoration: none;
    color: #003E87;
    background: none;
    border: 2px solid #0068B7;
    white-space: nowrap;
    flex: none;
    margin: 12px;
    padding: 0 24px 0 24px;
    outline: none;
}

.button:hover {
    color: #FFF;
    background: #0068B7;
    border: 2px solid #FFF;
    border-radius: 0px;
    cursor: pointer;
}
